<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     
    <!-- linking css file of public directory in ejs -->
    <!-- <link rel="stylesheet" href="styles.css"/> -->
</head>
<body>
   <main>
    <!-- Adding action attribute to specify where to send form data -->
    <!-- <form method="post" action="/contact">
        <h1>contact now</h1>
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">send message</button>
    </form> -->
   </main>
</body>


<!-- linking js file of public directory in ejs -->
<script src="script.js"></script>
</html>
